# <---------- Airflow ---------->

AIRFLOW_IMAGE_NAME=apache/airflow:latest
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW_HOME=/opt/airflow/
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
AIRFLOW_UID=50000


# <---------- Postgres Airflow ---------->

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres


# <---------- Postgres Data Warehouse ---------->

POSTGRES_USER_DW=postgres
POSTGRES_PASSWORD_DW=postgres
POSTGRES_DB_DW=postgres


# <---------- dbt Profile Variables (Cultura) ---------->

DB_DW_HOST=localhost
DB_DW_PORT=5433
DB_DW_USER=postgres
DB_DW_PASS=postgres
DB_DW_DATABASE=postgres
DB_DW_SCHEMA=cultura


# <---------- MinIO ---------->

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=data-lake-ipea


PYTHONPATH=/opt/airflow/dags:/opt/airflow/plugins:/opt/airflow/helpers