astronomer-cosmos==1.14.2
dbt-core>=1.10,<1.11
dbt-postgres==1.10.0
imap-tools==1.10.0
zeep==4.3.1
openpyxl
xlrd>=2.0.1
odfpy>=1.4.1
pyxlsb==1.0.10
python-calamine==0.6.2
apache-airflow-providers-amazon==9.29.0
apache-airflow-providers-postgres==6.7.0
apache-airflow-providers-standard==1.13.1
apache-airflow-providers-git==0.4.0