AIRFLOW_UID=50000
AIRFLOW_HOME=/opt/airflow
AIRFLOW_VERSION=3.2.2
PYTHON_VERSION=3.11
AIRFLOW_BUILD_TARGET=airflow-dev

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

AIRFLOW__CORE__FERNET_KEY=
AIRFLOW_USERNAME=airflow
AIRFLOW_PASSWORD=airflow
AIRFLOW_PRUNE_STALE_DAGS=true

AF_READ_ONLY=false
