AIRFLOW_UID=50000
AIRFLOW_HOME=/opt/airflow
AIRFLOW_VERSION=2.8.1
PYTHON_VERSION=3.11
AIRFLOW_BUILD_TARGET=airflow-dev

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

AIRFLOW__CORE__FERNET_KEY=
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

AF_READ_ONLY=false
